<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>
    <title><%= title %></title>
</head>
<body>
<div>
    <form autocomplete="off" id="searchForm">
        <table class="table">
            <thead>
            <tr>
                <th>Searchbox</th>
                <th>category 1 (countries)</th>
                <th>category 2 (language)</th>
                <th>category 3 (color)</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <div class="autocomplete" style="width:300px;">
                        <input id="personsName" type="text" name="personsName" placeholder="Name">
                    </div>
                </td>
                <td>
                    <select name="countries" id="countriesSelect">
                        <option value="">Choose</option>
                        <% for (let country of countries) { %>
                            <option <% if (country.short_value === options.countries) { %>selected
                                    <% } %>
                                    value="<%= country.short_value %>"><%= country.name %></option>
                        <% } %>
                    </select>
                </td>
                <td>
                    <select name="languages" id="languagesSelect">
                        <option value="">Choose</option>
                        <% for (let language of languages) { %>
                            <option <% if (language.short_value === options.languages) { %>selected
                                    <% } %>
                                    value="<%= language.short_value %>"><%= language.name %></option>
                        <% } %>
                    </select>
                </td>
                <td>
                    <select name="colors" id="colorsSelect">
                        <option value="">Choose</option>
                        <% for (let color of colors) { %>
                            <option <% if (color.short_value === options.colors) { %>selected
                                    <% } %>
                                    value="<%= color.short_value %>"><%= color.name %></option>
                        <% } %>
                    </select>
                </td>
                <td>
                    <input type="hidden" id="hiddenOffsetInput" name="offset" value="<%= (options.offset) ? options.offset : 0 %>">
                    <input type="submit" value="Show">
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
<div id="result_block">
    <table id="searchResultTable" class="table table-striped table-bordered table-hover">
        <thead class="thead-light">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Country</th>
            <th>Language</th>
            <th>Color</th>
        </tr>
        </thead>
        <tbody>
        <% if (persons.rows.length) { %>
            <% for (let person of persons.rows) { %>
                <tr>
                    <td><%= person.id %></td>
                    <td><%= person.name %></td>
                    <td><%= person.country.name %></td>
                    <td><%= person.language.name %></td>
                    <td><%= person.color.name %></td>
                </tr>
            <% } %>
        <% } %>
        </tbody>
    </table>
    <div>Result: <%= persons.count %>(Page: <%= page %>/Total pages: <%= totalPages %>)</div>
    <div id="footerPagination">
        <% if (page > 1) { %>
            <button class="btn btn-primary" id="buttonPrevPage">Prev Page</button>
        <% } %>
        <% if (page < totalPages) { %>
            <button class="btn btn-primary" id="buttonNextPage">Next Page</button>
        <% } %>
    </div>
</div>
<% include ../partials/footer_tag.ejs %>
<script src="js/index.js"></script>
</body>
</html>