<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>
    <title><%= title %></title>
</head>
<body>
<div>
    <form autocomplete="off" id="loginForm">
    </form>
</div>
<% include ../partials/footer_tag.ejs %>
<script src="js/login.js"></script>
</body>
</html>